//Colors
$AlkRed: #ff0000 !default;
$TitleBlack: #020202 !default;
$FontBlack: #2d2d2d !default;
$CoolGray: #ebebeb;
$CoolGray2: #cdcdcd;
$Contentbk: #f2f2f2;
$SidebarGray: #7c7c7c;
$SidebarGrayHover: #5c5c5c;
$OkGreen: #06cf06;
$Orange: #ff6600;